# -------------------------
# Arquivos do projeto
# -------------------------
HELP.md
.env
keystore.p12
application.properties
application.yml

# -------------------------
# Maven / Build
# -------------------------
target/
.mvn/wrapper/maven-wrapper.jar

# Se quiser permitir targets dentro de módulos específicos (multi-module project)
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
logs/
*.log

# -------------------------
# IDEs
# -------------------------

## STS / Spring Tools Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

## VS Code
.vscode/

# -------------------------
# Sistema Operacional
# -------------------------
# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store
